@import "tailwindcss";

@theme {
  --color-on-error: #690005;
  --color-on-primary: #422b1f;
  --color-surface-container-high: #292a2a;
  --color-surface: #121414;
  --color-outline: #9c8e88;
  --color-on-surface-variant: #d3c3bc;
  --color-tertiary-fixed: #e5e2e1;
  --color-on-surface: #e3e2e2;
  --color-on-error-container: #ffdad6;
  --color-surface-variant: #343535;
  --color-secondary-fixed-dim: #c8c6c5;
  --color-on-tertiary-fixed: #1c1b1b;
  --color-on-primary-fixed-variant: #5a4134;
  --color-on-tertiary: #313030;
  --color-outline-variant: #4f453f;
  --color-tertiary-fixed-dim: #c8c6c5;
  --color-inverse-surface: #e3e2e2;
  --color-secondary: #c8c6c5;
  --color-secondary-container: #474747;
  --color-on-secondary-fixed: #1b1c1c;
  --color-error: #ffb4ab;
  --color-surface-container-highest: #343535;
  --color-primary-container: #4e3629;
  --color-primary-fixed: #ffdbca;
  --color-on-background: #e3e2e2;
  --color-surface-container-low: #1a1c1c;
  --color-on-tertiary-container: #a7a5a5;
  --color-on-secondary-fixed-variant: #474747;
  --color-tertiary: #c8c6c5;
  --color-surface-dim: #121414;
  --color-surface-tint: #e3bfad;
  --color-background: #121414;
  --color-inverse-on-surface: #2f3131;
  --color-inverse-primary: #74584a;
  --color-surface-bright: #383939;
  --color-error-container: #93000a;
  --color-on-tertiary-fixed-variant: #474646;
  --color-on-secondary: #303030;
  --color-on-primary-container: #c19f8e;
  --color-primary-fixed-dim: #e3bfad;
  --color-secondary-fixed: #e4e2e1;
  --color-surface-container: #1e2020;
  --color-surface-container-lowest: #0d0e0f;
  --color-on-primary-fixed: #2a170c;
  --color-primary: #e3bfad;
  --color-tertiary-container: #3c3b3b;
  --color-on-secondary-container: #b6b5b4;

  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;

  --spacing-margin-mobile: 16px;
  --spacing-gutter: 24px;
  --spacing-container-max-width: 1280px;
  --spacing-base: 8px;
  --spacing-margin-desktop: 64px;

  --font-headline-lg-mobile: var(--font-playfair), serif;
  --font-technical-label: var(--font-jetbrains), monospace;
  --font-display-lg: var(--font-playfair), serif;
  --font-body-md: var(--font-hanken), sans-serif;
  --font-headline-lg: var(--font-playfair), serif;
  --font-technical-value: var(--font-jetbrains), monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  overflow-x: hidden;
}

.industrial-grid {
  background-image: linear-gradient(var(--color-outline-variant) 1px, transparent 1px),
    linear-gradient(90deg, var(--color-outline-variant) 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: center;
}

.leather-texture {
  background-color: #121414;
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAI6P1VtK1ZierbgozUauMrIa13Ee58lsSpkd-pImKdlUqzNmEK878IjGT9FPXtyKw36jFqrr64oUbx8A7HzMMfMJfrHHTl5kqEnl-oWTaOlNxb59_WLjTwi3irbdBQ2FcGDx8hm0PpJDbIAeBiRBWbtdFSU2uPf_Jdz5WWH014RLeoNr1PeK6VY1eI7HOH-6MnaUjyHHuAIIQJG6nYjijjgfktt2SvsInAOQb3LsmF_jv2Gy6f_UvG5zcVZ-Ny1jkZbmXpWiksRgc");
}

.satin-glow {
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.05);
}

/* Technical Compass Elements */
.compass-ring {
  position: absolute;
  border: 1px solid rgba(156, 142, 136, 0.2);
  border-radius: 100%;
  pointer-events: none;
  transition: transform 0.1s ease-out, opacity 0.3s ease-out;
}

.compass-center {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
}
